[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=app
Comment=app
Exec=/usr/src/rstudio-1.0.136/bin/rstudio
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
