[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=app
Comment=app
Exec=wget $FILE -O /root/file.r && /usr/src/rstudio-1.0.136/bin/rstudio /root/file.r
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
