[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=app
Comment=app
Exec=startr.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
